
{% extends 'base.html'%}
 {% block content%}


      <section class="text-gray-600 body-font ">
        <div class="container px-5 py-24 mx-auto ">
          <div class="flex flex-col text-center w-full mb-12 -my-10">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Store Sales Predictor</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base ">Fill the form below and then press predict button.</p>
          </div>
          <form action="{{ url_for('predict')}}" method="post">
          <table class="-my-10"><tr>
          <!-- Item_Type-->
          <td><div class="relative flex-grow w-full">             
              <label for="Item_Type" class="leading-7 text-sm text-gray-600"><strong>Item Type</strong></label>
              <select class="form-select" aria-label="Default select example" id="Item_Type" name="Item_Type" style = "width: 300px;" required="required"  >                
                <option value="">Open this select menu</option>
                {% for i in item_type%}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}
              </select>
            </div></td>
        <!-- Item_Fat_Content-->
            <td><div class="relative flex-grow w-full">
              <label for ="Item_Fat_Content" class="leading-7 text-sm text-gray-600"></label><strong>Item Fat Content</strong></label>              
              <select class="form-select" aria-label="Default select example" id="Item_Fat_Content" name="Item_Fat_Content"style = "width: 300px;" required="required"  >
                <option value="">Open this select menu</option>         
                <option value="Low Fat">Low Fat</option> 
                <option value="Regular">Regular</option> 
                <option value="Not Applicable">Not Applicable</option> 
              </select>    
            </div></td>
        <!-- Item_Weight--> 
            <td><div class="relative flex-grow w-full">
              <label for="Item_Weight" class="leading-7 text-sm text-gray-600"><strong>Item Weight</strong></label>                        
              <input type="number" class="form-control" id="Item_Weight" name="Item_Weight" min= "1" max ="414" step ="0.1" placeholder="Valid input range (1 - 414)" style = "width: 300px;" required="required" >
            </div></td>
        <!-- Outlet_Size--> 
            <td><div class="relative flex-grow w-full">
              <label for ="Outlet_Size" class="leading-7 text-sm text-gray-600"></label><strong>Outlet Size</strong></label>               
              <select class="form-select" aria-label="Default select example" name="Outlet_Size" id="Outlet_Size" style = "width: 300px;" required="required"  >      
                <option value="">Open this select menu</option>
                <option value="Small">Small</option> 
                <option value="Medium">Medium</option> 
                <option value="High">High</option>                 
                
              </select> 
                            
            </div></td>
          </tr>
          
          <tr>
            <!--Item_Category-->
            <td><div class="relative flex-grow w-full">
              <label for ="Item_Category" class="leading-7 text-sm text-gray-600"></label><strong>Item Category</strong></label>
              <br>  
              <select class="form-select" aria-label="Default select example" name="Item_Category" id="Item_Category" style = "width: 300px;" required="required"  >
                
                <option value="">Open this select menu</option>               
                
                <option value="Drink">Drink</option> 
                <option value="Food">Food</option> 
                <option value="Non_Consumable">Non_Consumable</option>                 
                
              </select><br>  
                            
            </div></td>
            <!--Item_Visibility-->
            <td><div class="relative flex-grow w-full">
              <label for="Item_Visibility" class="leading-7 text-sm text-gray-600"><strong>Item Visibility</strong></label>
              <br>             
              <input type="number" class="form-control" id="Item_Visibility" name="Item_Visibility" min= "0" max ="1" step="0.01"placeholder="Any real number from 0 to 1" style = "width: 300px;" required="required" ><br>
            </div></td>
            <!--Outlet_Location_Type-->
          <td><div class="relative flex-grow w-full">
              <label for ="Outlet_Location_Type" class="leading-7 text-sm text-gray-600"></label><strong>Outlet Location</strong></label>
              <br>  
              <select class="form-select" aria-label="Default select example" name="Outlet_Location_Type" id="Outlet_Location_Type" style = "width: 300px;" required="required" >
                
                <option value="">Open this select menu</option>               
                
                <option value="Tier 1">Tier 1</option> 
                <option value="Tier 2">Tier 2</option> 
                <option value="Tier 3">Tier 3</option>                 
                
              </select><br>  
                            
            </div></td>
            <!--Outlet_Type-->
          <td><div class="relative flex-grow w-full">
              <label for ="Outlet_Type" class="leading-7 text-sm text-gray-600"></label><strong>Outlet Type</strong></label>
              <br>  
              <select class="form-select" aria-label="Default select example" name="Outlet_Type" id="Outlet_Type" style = "width: 300px;" required="required" >
                
                <option value="">Open this select menu</option>               
                <option value="Grocery Store">Grocery Store</option>
                <option value="Supermarket Type1">Supermarket Type1</option> 
                <option value="Supermarket Type2">Supermarket Type2</option> 
                <option value="Supermarket Type3">Supermarket Type3</option>                 
                
              </select><br>  
                            
            </div></td>
          </tr>
          <tr>
            <!--Outlet_Identifier-->
            <td><div class="relative flex-grow w-full">
             
              <label for="Outlet_Identifier" class="leading-7 text-sm text-gray-600"><strong>Outlet Identifier</strong></label>
              <select class="form-select" aria-label="Default select example" name="Outlet_Identifier" id= "Outlet_Identifier"style = "width: 300px;" required="required" >
                
                <option value="">Open this select menu</option>
                {% for i in outlet_identifier%}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}
              </select><br>
            </div></td>
            <!--Item_MRP-->
            <td><div class="relative flex-grow w-full">
              <label for="Item_MRP" class="leading-7 text-sm text-gray-600"><strong>Item MRP</strong></label>
              <br>             
              <input type="number" class="form-control" id="Item_MRP" name="Item_MRP" min= "31.5" max ="266.88" step="0.01" placeholder="Valid input range (31.5 - 266.8)" style = "width: 300px;" required="required" ><br>
            </div></td>
            <br><br>
           
            <td><button type="submit" class="text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg">Predict</button>
            </td>
          </tr>
          </table> 
          
        
        </form>  
          
        
        </div>
        
      </section>
    
              
        {% endfor %}

      
  {% endblock%}